<footer class="bg-slate-800 flex justify-between p-4 mt-8 text-center text-gray-100">
    <div>Copyright &copy; {{ helpers.currentYear() }} {{ settings.name }}</div>
    <a class="hover:text-blue-100" href="https://github.com/willvincent/11-TEA" target="_blank">❤️ 11-TEA</a>
</footer>