<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css" />

    <script defer src="https://unpkg.com/@alpinejs/intersect@3.7.0/dist/cdn.min.js"></script>
    <script defer src="https://unpkg.com/@alpinejs/collapse@3.7.0/dist/cdn.min.js"></script>
    <script src="//unpkg.com/alpinejs@3.7.0/dist/cdn.min.js" defer></script>
    <noscript><style>noscript { display: contents; } .lazy-img { display: none; }</style></noscript>
    <title>{{ title }}</title>
</head>

<body class="bg-slate-50 tet-gray-900 flex flex-col min-h-screen">
    {% include 'nav.njk' %}
    
    {{ content | safe }}
    
    {% include 'footer.njk' %}
    <script src="/assets/js/site.js"></script>
</body>

</html>